<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/basestyle.css" />
    <link
      rel="shortcut icon"
      href="../static/images/favicon.ico"
      type="image/x-icon"
    />
    {% block css %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="flash-list">
      <div class="flash-item">
        <h3 class="flash-title">{{ message }}</h3>
      </div>
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block main %} {% endblock %}
  </body>
</html>
